<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
      <div class="row">
      <div class= "col">
        <%= link_to "SAMPLE APP", '/', id: "logo" %>
        </div>
        <div class="col">
        <nav>
          <ul class="nav justify-content-end" id="navbar">
            <li class= "nav-item"><%= link_to "Home", '/', class: "nav-link" %></li>
            <li class= "nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
            <li class= "nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
            <li class= "nav-item"><%= link_to "Log in", '#', class: "nav-link" %></li>
          </ul>
        </nav>
        
        </div>
        </div>
      </div>
</header>